doctype html
html
  head
    title= title
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/star-rating.min.js")
    link(rel='stylesheet', href='/css/star-rating.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    .container
      block content
